<!DOCTYPE html>
<html lang="es">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- FontAwesome para íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Estilos personalizados -->
     <!-- Agregar nombre de styles css -->
    <link rel="stylesheet" href="styles/editarCitas.css">

    <title>Nombre pagina</title>

</head>
<body>


    <main>
        
        <%- include('../partials/navegacion') %>
        

        <section class="contenido">
            <%- include('../partials/tituloPagina.ejs') %>

            <div class="container">

                <% console.log("Dato en ejs",datosCitas) %>
                

                <form class="p-4 border" action="/editarCitaExistente" method="post">
                    <h1>Editar citas</h1>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="idCita" name="idCita" required
                        value="<%= datosCitas[0].idtb_citas %>" style="display: none;">
                    </div>
                    <div class="mb-3">
                        <label for="fechaCita" class="form-label">Fecha de cita</label>
                        <input type="date" class="form-control" id="fechaCita" name="fechaCita" required
                            value="<%= datosCitas[0].fecha.toISOString().split('T')[0] %>">
                    </div>
                    <div class="mb-3">
                        <label for="horaCita" class="form-label">Hora</label>
                        <input type="time" class="form-control" id="horaCita" name="horaCita" required
                            value="<%= datosCitas[0].hora %>">
                    </div>
                    <div class="mb-3">
                        <label for="cedulaPacienteCita">Cedula Paciente</label>
                        <input type="number" class="form-control" id="cedulaPacienteCita" name="cedulaPacienteCita" aria-describedby="" 
                        value="<%= datosCitas[0].cedula %>" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="nombrePaciente">Nombre Paciente</label>
                        <input type="text" class="form-control" id="nombrePacienteCita" name="nombrePacienteCita" aria-describedby=""
                        value="<%= datosCitas[0].nombreUnoPaciente %> <%= datosCitas[0].nombreDosPaciente %> <%= datosCitas[0].apellidoUnoPaciente %> <%= datosCitas[0].apellidoDosPaciente %>"
                        disabled>
                    </div>
                    <div class="mb-3">
                        <label for="nombreDoctorCita">Doctor</label>
                        <input type="text" class="form-control" id="nombreDoctorCita" name="nombreDoctorCita" aria-describedby=""
                        value="<%= datosCitas[0].primerNombreMedico %> <%= datosCitas[0].segundoNombreMedico %> <%= datosCitas[0].primerApellidoMedico %> <%= datosCitas[0].segundoApellidoMedico %>"
                        disabled>
                    </div>
                    <div class="mb-3">
                        <label for="especialidadCita">Especialidad</label>
                        <input type="text" class="form-control" id="especialidadCita" name="especialidadCita" aria-describedby="" 
                        value="<%= datosCitas[0].especialidad %>" disabled>
                    </div>
                    
                    <div class="mb-3">
                        <label for="">Estado</label>
                        <select class="form-select" aria-label="Default select example" id="estadoCita" name="estadoCita" required>
                            <option value="<%= datosCitas[0].estado %>"> <%= datosCitas[0].estado %> </option>
                            <option value="CANCELADA">CANCELADA</option>
                            <option value="ATENDIDA">ATENDIDA</option>
                            
                        </select>
                    </div>
                    
                    <div class="mb-3 opciones">
                        <button type="submit" class="btn btn-success w-100">Editar Cita</button>
                    </div>
                </form>
                
            </div>

            
        </section>


  
    </main>

    <%- include('../partials/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../public/js/slidebar.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>